Hello, <%= current_user.name %>
<img src=<%= @profile.image %> alt="" />
<p>Followers: <%= @profile.followers_count %></p>
<p>Following: <%= @profile.following_count %></p>
<p>Starred: <%= @profile.starred_count %></p>
