<%= render partial: "shared/navbar" %>
<div class="container profile-container">
  <div class="col-md-3">
    <img src=<%= @profile.basic_info[:avatar_url] %> class="profile-img" alt="" />
    <div class="vcard-names">
      <h1 class="v-card-name"><%= @profile.basic_info[:name] %></span>
      <h3 class="v-card-username"><%= @profile.basic_info[:login] %></span>
    </div>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
      <li role="presentation" class=""><a href="#repositories" aria-controls="repositories" role="tab" data-toggle="tab">Repositories <span class="badge"><%= @profile.repositories_count %></span></a></li>
      <li role="presentation" class=""><a href="#stars" aria-controls="stars" role="tab" data-toggle="tab">Stars <span class="badge"><%= @profile.starred_count %></span></a></li>
      <li role="presentation" class=""><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers <span class="badge"><%= @profile.followers_count %></span></a></li>
      <li role="presentation" class=""><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following <span class="badge"><%= @profile.following_count %></span></a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="overview">test1</div>
      <div role="tabpanel" class="tab-pane" id="repositories">
        <% @profile.repos.each do |repo| %>
          <a href=<%= repo.url %>><h2><%= repo.name %></h2></a>
          <span><%= repo.language %></span>
          <% if repo.stargazers_count > 0 %>
            <span> ⭑ <%= repo.stargazers_count %></span>
          <% end %>
          <% if repo.forks_count > 0 %>
            <span><%= repo.forks_count %></span>
          <% end %>
          <span><%= repo.updated_ago_in_words %></span>
          <hr>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="stars">test3</div>
      <div role="tabpanel" class="tab-pane" id="followers">
         <% @profile.followers.each do |follower|  %>
           <a href=<%= follower.url %>><img src=<%= follower.image %> class="follower-icon" alt="" /></a>
           <a href=<%= follower.url %>><%= follower.login %></a>
           <hr>
         <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="following">
         <% @profile.following.each do |user|  %>
           <a href=<%= user.url %>><img src=<%= user.image %> class="follower-icon" alt="" /></a>
           <a href=<%= user.url %>><%= user.login %></a>
           <hr>
         <% end %>
      </div>
    </div>
  </div>
</div>

